:root {
  --primary-text-color:#212121;
  --secondary-text-color:#757575;
  --accent-color: #2196F3;
  --main-white-text: #FFFFFF;
  --primary-bg-color: #E5E5E5;
  --secondary-bg-color: #F5F4FA;
  --main-black-text: #000000;
  --footer-color: #2F303A;
  --adress-text: rgba(255, 255, 255, 0.6);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.hide {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.flex {
  display: flex;
}

/* Elements with Accent color */
.accent,
.current {
  color: var(--accent-color);
}

.wrap-description {
  position: relative;
  overflow: hidden;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

body {
  position: relative;
  background-color: var(--main-white-text);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  margin: 0;
}

.container {
  max-width: 480px;
  padding: 0px 15px;
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.18;
  }
}

.team {
  background-color: var(--secondary-bg-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

/* ------------logo -----------------*/
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-black-text);
}
.logo--header {
  margin-right: 93px;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .logo--header {
    margin-right: 93px;
    padding: 24px 0 25px 0;
  }
}
.logo--light {
  color: var(--main-white-text);
}

/*---------- buttons -------------*/
.button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--main-white-text);
  background-color: var(--accent-color);
}
.button--secondary {
  margin: 0px 8px 15px 0px;
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .button--secondary {
    margin: 0px 8px 0px 0px;
  }
}
.button--activ, .button--secondary:hover, .button--secondary:focus {
  color: var(--main-white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-list {
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .button-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

/*-----------------  site nav ---------------*/
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    display: block;
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-color);
  }
  .site-nav .current {
    position: relative;
  }
  .site-nav .current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    bottom: -1px;
  }
}

.menu-bth {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: var(--main-white-text);
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.menu-bth:hover {
  fill: var(--accent-color);
}

/*-------- site main contacts -------*/
.site-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-contacts {
    display: flex;
    margin-left: auto;
  }
  .site-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}
.site-contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  padding: 32px 0 32px 0;
}
.site-contacts__link:hover, .site-contacts__link:focus {
  color: var(--accent-color);
}
.site-contacts__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contacts__link:hover .site-contacts__icon, .site-contacts__link:focus .site-contacts__icon {
  fill: var(--accent-color);
}

/* -- members block --*/
.members-list {
  margin-right: -30px;
}
@media screen and (min-width: 768px) {
  .members-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.members-list__card {
  background-color: var(--main-white-text);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc(100% - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .members-list__card {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .members-list__card {
    width: calc(25% - 30px);
  }
}
.members-list__title, .members-list__description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.members-list__title {
  margin: 30px 0 10px 0;
  font-weight: 500;
}
.members-list__description {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

/* ---- members soc block ---- */
.members-soc {
  display: flex;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.members-soc__item {
  width: 44px;
  height: 44px;
}
.members-soc__item:not(:last-child) {
  margin-right: 10px;
}
.members-soc__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.members-soc__link:hover, .members-soc__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-white-text);
}

.clients-list {
  margin-right: -30px;
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
}
.clients-list__item {
  width: calc(50% - 30px);
  height: 92px;
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc(16.6666666667% - 30px);
  }
}
.clients-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.examples-card {
  width: calc(100% - 30px);
  max-width: 450px;
  margin: 30px 30px 30px 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .examples-card {
    width: calc(50% - 30px);
  }
  .examples-card:first-child .examples-card__type {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-card {
    width: calc(33.3333333333% - 30px);
  }
  .examples-card:first-child .examples-card__type {
    padding-bottom: 20px;
  }
}
.examples-card:hover .examples-card__description {
  transform: translateY(0);
}
.examples-card:hover, .examples-card:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.examples-card__link {
  width: 100%;
  color: var(--primary-text-color);
}
.examples-card__description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--main-white-text);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.examples-card__field {
  border: 1px solid #EEEEEE;
  border-top: 0px;
}
.examples-card__title {
  margin-bottom: 4px;
  padding: 20px 24px 0px 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-card__type {
  padding: 0px 24px 20px 24px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms linear;
  max-width: 450px;
  min-height: 609px;
  background-color: var(--main-white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.modal__close-bth {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-white-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.modal__close-bth:hover {
  fill: var(--accent-color);
}
.modal__form {
  padding: 40px 39px 40px 41px;
}
.modal__form-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}
.modal__btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-checkbox {
  display: flex;
  margin: 0px 0px 30px 0px;
}
.modal-checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.modal-checkbox__text {
  display: block;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-checkbox__link {
  margin-left: 5px;
}
.modal-checkbox__icon {
  margin-right: 8px;
  width: 16px;
  height: 15px;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox__icon {
    margin-right: 8.38px;
  }
}
.modal-checkbox__icon--eneble {
  display: none;
}
.modal-checkbox__input:checked + .modal-checkbox__icon--dislable {
  display: none;
}
.modal-checkbox__input:checked + .modal-checkbox__icon--dislable + .modal-checkbox__icon--eneble {
  display: block;
  background-color: var(--accent-color);
  padding: 4px 2px 3px 3px;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox {
    margin: 0px 0px 30px 12px;
  }
}

.contact-form, .contact-form__name {
  display: flex;
  flex-direction: column;
}
.contact-form, .contact-form__name {
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.contact-form__iput {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin: 4px 0 10px 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__iput--comments {
  padding: 12px 0 0 16px;
  resize: none;
  height: 120px;
  margin-bottom: 20px;
}
.contact-form__iput--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}
.contact-form__iput:hover, .contact-form__iput:focus {
  border-color: var(--accent-color);
}
.contact-form__filed {
  width: 100%;
  position: relative;
}
.contact-form__icon {
  position: absolute;
  left: 12px;
  display: flex;
  width: 18px;
  height: 18px;
  fill: #000000;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 15px;
}
.contact-form__iput:hover + .contact-form__icon, .contact-form__iput:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
  z-index: 1;
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* -- footer-contacts block -- */
.footer-contacts {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-left: 61px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin: 0 70px 0 0;
    text-align: left;
  }
}
.footer-contacts__adress {
  margin-top: 20px;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts__link {
  font-style: normal;
  line-height: 1.71;
  color: var(--adress-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link--streat {
  color: var(--main-white-text);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

/* -- footer-soc -- */
.footer-soc {
  margin-bottom: 60px;
}
.footer-soc__title, .footer-sub__title {
  margin-right: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-text);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-soc__title, .footer-sub__title {
    text-align: left;
  }
}
.footer-soc__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-soc__item {
  width: 44px;
  height: 44px;
}
.footer-soc__item:not(:last-child) {
  margin-right: 10px;
}
.footer-soc__link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--main-white-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--accent-color);
}

/* -- footer subscription -- */
@media screen and (min-width: 1200px) {
  .sub-form {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-sub {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-sub {
    margin-left: 93px;
    margin-right: 0;
  }
}
.footer-sub__input {
  margin-bottom: 20px;
  padding-left: 16px;
  width: 100%;
  max-width: 450px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-right: 12px;
  outline: none;
}
@media screen and (min-width: 768px) {
  .footer-sub__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-sub__input {
    width: 358px;
  }
}
.footer-sub__input::placeholder {
  display: flex;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-weight: 400;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-sub .footer-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 50px;
  padding: 10px 62px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.footer-sub .footer-btn__icon {
  position: absolute;
  top: 13px;
  left: 148px;
  fill: var(--main-white-text);
}

.menu-container {
  padding: 48px 0 48px 40px;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-nav__link.current {
  color: var(--accent-color);
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-contacts__link--tel, .menu-contacts__link--mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.menu-contacts__link--tel {
  color: var(--accent-color);
}
.menu-contacts__link--mail {
  font-size: 24px;
}

.menu-soc {
  display: flex;
}
.menu-soc__line {
  margin: 0 10px;
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
.menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-wind__close-bth {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: var(--main-white-text);
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.menu-wind__close-bth:hover {
  fill: var(--accent-color);
}

/*----------- Hero section ---------------*/
.hero-section {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #C4C4C4;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-section__title {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--main-white-text);
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    max-width: 696px;
    background-size: cover;
  }
}
.hero-section__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* ---------- features section ---------- */
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.features-list__item {
  width: 100%;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: calc(25% - 30px);
  }
}
.features-list__card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}
.features-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}
.features-list__description {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

/*--------- whatwedo section -----------*/
.whatwedo {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .whatwedo {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .whatwedo-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .whatwedo-list__card {
    position: relative;
  }
  .whatwedo-list__title {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 27px 0 27px 0;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--main-white-text);
  }
}

/* ------------ footer ------------- */
footer {
  padding: 60px 0;
  background-color: var(--footer-color);
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
  }
}

/*----------- Hero section ---------------*/
.hero-section {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #C4C4C4;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-section__title {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--main-white-text);
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    max-width: 696px;
    background-size: cover;
  }
}
.hero-section__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/*----------- Hero section ---------------*/
.hero-section {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #C4C4C4;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-section__title {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--main-white-text);
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    max-width: 696px;
    background-size: cover;
  }
}
.hero-section__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}/*# sourceMappingURL=main.css.map */