    /* ------------ footer ------------- */

footer {
    padding: 60px 0;
    background-color: var(--footer-color);
}
.footer {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        

    }
    @include desktop {
        align-items: baseline;
    }
}