/*----------- Hero section ---------------*/

.hero-section {
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: #C4C4C4;
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/bcg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    &__title {
        max-width: 390px;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        color: var(--main-white-text);

        @include font (26px, 1.36, 0.06em);
        font-weight: 900;
        text-transform: uppercase;
        @include desktop {
            @include font (44px, null, null);
            max-width: 696px;
            background-size: cover;
        }
    }

    &__button {
        margin-left: auto;
        margin-right: auto;
        padding: 10px 32px;
        @include font (16px, 1.88, 0.06em);
    }
}

