.modal-checkbox {
    display: flex;
    margin: 0px 0px 30px 0px;
    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }
    &__text {
        display: block;
        @include desktop {
            @include font (14px, 1.71, null)
        }
        
    }
    &__link {
        margin-left: 5px;
    }
    &__icon {
        margin-right: 8px;
        @include size (16px, 15px);
        @include desktop {
            margin-right: 8.38px;
        }
        &--eneble {
            display: none;
        }
        .modal-checkbox__input:checked +&--dislable {
            display: none;
        }
        .modal-checkbox__input:checked +&--dislable +&--eneble {
            display: block;
            background-color: var(--accent-color);
            padding: 4px 2px 3px 3px;
            background-size: contain;
            background-repeat: no-repeat;
            @include center;
            border-radius: 2px;
        }
    }
    @include desktop {
        margin: 0px 0px 30px 12px;
    }
}
