.contact-form {
    &, &__name {
        display: flex;
        flex-direction: column;
        & {
            color: var(--secondary-text-color);
            @include font (12px, 1.17, 0.01em);
        }
    }
    
    &__iput {
        padding-left: 42px;
        @include size (100%, 40px);;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline:none;
        margin: 4px 0 10px 0;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &--comments {
            padding: 12px 0 0 16px;
            resize: none;
            height: 120px;
            margin-bottom: 20px; 
        }
        &--comment::placeholder {
            color: rgba(117, 117, 117, 0.5);
            @include font (14px, 1.25, 0.01em);
        }
        &:hover, &:focus {
            border-color: var(--accent-color);
        }
    }
    
    &__filed {
        width: 100%;
        position: relative;
    }
    &__icon {
        position: absolute;
        left: 12px;
        display: flex;
        @include size (18px, 18px);
        fill: #000000;
        @include center;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        top: 15px;
        .contact-form__iput:hover + &,
        .contact-form__iput:focus + & {
            fill: var(--accent-color);
        }
    }
}
