.examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
}

.examples-card {
    width: calc(100% - 30px);
    max-width: 450px;
    margin: 30px 30px 30px 0px;
    @include tablet {
        width: calc(100% / 2 - 30px);
        &:first-child .examples-card__type {
            padding-bottom: 56px;
        }
    }
    @include desktop {
        width: calc(100% / 3 - 30px);
        &:first-child .examples-card__type {
            padding-bottom: 20px;
        }
    }
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover &__description {
        transform: translateY(0);
    }
    &:hover, &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    &__link {
        width: 100%;
        color: var(--primary-text-color);
    }
    &__description {
        position: absolute;
        @include size (100%, 100%);
        top: 0;
        @include font (18px, 1.56, 0.03em);
        padding: 63px 24px;
        color: var(--main-white-text);
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: transform 250ms linear;
    }
    &__field {
        border: 1px solid #EEEEEE;
        border-top: 0px;
        
    }
    &__title {
        margin-bottom: 4px;
        padding: 20px 24px 0px 24px;
        @include font (18px, 2, 0.06em);
    }
    &__type {
        padding: 0px 24px 20px 24px;
        color: var(--secondary-text-color);
        @include font (16px, 1.88, null);
    }
}

