/* -- footer-soc -- */

.footer-soc {
    margin-right: 93px;
    &__title{
        display: flex;
        @include font (14px, 1.43, 0.03em);
        text-transform: uppercase;  
        color: var(--main-white-text);
        margin-bottom: 20px;
    }
    &__list {
        display: flex;
        @include center;
    }
    &__item {
        @include size (44px, 44px);
        &:not(:last-child) {
        margin-right: 10px;
        }
    }
    &__link {
        display: flex;
        @include size (100%, 100%);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        @include center;
        fill: var(--main-white-text);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
            background-color: var(--accent-color);
        } 
    }
}