/*-------- site main contacts -------*/

.site-contacts {
    display: none;
    @include center;
    
        @include tablet {
            display: block;
            margin-left: auto;
            &__item:not(:last-child) {
                margin-bottom: 10px; 
            }
            &__item:first-child> .site-contacts__link {
                padding-top: 21px;
            }
            &__item:last-child> .site-contacts__link {
                padding-bottom: 21px;
            }
            &__link {
                display: flex;
                align-items: left;
            
                color: var(--secondary-text-color);
                
                &:hover, &:focus {
                    color: var(--accent-color);
                }
            }
            &__icon {
                margin-right: 10px;
                fill: var(--secondary-text-color);
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                .site-contacts__link:hover &,
                .site-contacts__link:focus & {
                    fill: var(--accent-color);
                }
            }
            
        }

        @include desktop {
            display: flex;
            
            &__item:not(:last-child) {
                margin-right: 30px; 
                margin-bottom: 0;
            }
            &__item:first-child> .site-contacts__link {
                padding-top: 32px;
                padding-bottom: 32px;
            }
            &__item:last-child> .site-contacts__link {
                padding-bottom: 32px;
                padding-top: 32px;
            }
            &__link {
                @include center;
            }
        }

    
}