/*-------- site main contacts -------*/

.site-contacts {
    display: none;
    
    @include tablet {
        display: flex;
    margin-left: auto;
    &__item:not(:last-child) {
        margin-right: 30px;  
    }
    }

    &__link {
        display: flex;
        @include center;

        color: var(--secondary-text-color);
        padding: 32px 0 32px 0;
        &:hover, &:focus {
        color: var(--accent-color);
        }
    }

    &__icon {
        margin-right: 10px;

        fill: var(--secondary-text-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .site-contacts__link:hover &,
        .site-contacts__link:focus & {
            fill: var(--accent-color);
        }
    }
}